<div class="form">
  <%= form_for [@planet, @vacation] do |f| %>
    <div class="field">
      <%= f.label :vacationer, "Name for Reservation" %><br />
      <% if current_user %>
        <%= f.text_field :vacationer, value: current_user.last_name %>
      <% else %>
        <%= f.text_field :vacationer %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :start_date, "Start Date" %><br />
      <%= f.date_field :start_date, :value => Time.now.strftime("%Y-%m-%d") %>
    </div>

    <div class="field">
      <%= f.label :end_date, "End Date" %><br />
      <%= f.date_field :end_date, :value => Time.now.strftime("%Y-%m-%d") %>
    </div>

    <div class="field">
      <%= f.label :num_of_people, "Number of People" %><br />
      <%= f.text_field :num_of_people %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</div>
