<div class="show">
  <h2><%= @vacation.vacationer %>'s <%= @vacation.planet.name %> Vacation</h2>

  <div class="vaca-top">
    <div class="details">
      <b>Destination</b> <%= @vacation.planet.name %> |
      <b>Dates</b> <%= @vacation.start_date %> - <%= @vacation.end_date %> |
      <b>Number of people</b> <%= @vacation.num_of_people %>
      <div class="vacation-link">
        <%= link_to 'Edit', edit_vacation_path(@vacation) %>
        <%= button_to 'Cancel Vacation', @vacation, method: :delete, data: { confirm: 'Are you sure?'} %>
      </div>
    </div>
    <div class="itinerary">
      <div class="leftcolumn">
        <div class="form">
          <%= form_for [@vacation, @note], html: { id: :new_note } do |f| %>
            <div class="field">
              <b><%= f.label :body, 'Add note' %></b>
            </div>
            <div class="field">
              <%=f.text_area :body, :rows=>5, :cols=>40 %>
              <%= f.hidden_field(:id, value: @note.id) %>
            </div>
            <div class="actions">
              <%= f.submit 'Add' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="rightcolumn">
        <h4>Notes</h4>
        <div class="notes">
          <% @notes.each do |n| %>
          <li class="note"><%= n.body %> <%= button_to "X", api_vacation_note_path(n.vacation.id, n.id), class:"button", :method => :delete %></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="planet-info">
    <div class="leftcolumn">
      <h4>Points of Interest on <%= @vacation.planet.name %></h4>
      <% @landmarks.each do |l| %>
        <li><%= l.name %></li>
      <% end %>
    </div>

    <div class="rightcolumn">
      <h4>STUFF</h4>
    </div>
  </div>

  <div class="planet-info">
    <div class="leftcolumn">

    </div>

    <div class="rightcolumn">
      <h4>Something else here</h4>
      <% unless @bookings.empty? %>
        <b>Bookings</b>
        <% @bookings.each do |b| %>
          <li><%= b.name %></li>
        <% end %>
      <% end %>
    </div>
  </div>
