<!DOCTYPE html>
<html>
  <head>
    <title>FarFarAway</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div class="top-links">
    <a href="/pages/home">Home</a>
    <a href="/pages/about">About</a>
    <% if current_user.nil? %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
    <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>

  <div class="row column">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
          <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= yield %>

  </body>
</html>
